{{#*inline "layout"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href="/styles.css" rel="stylesheet">
</head>
<body class="bg-gray-100 p-8">
  {{{body}}}
</body>
</html>
{{/inline}}

<section class="w-full text-center max-w-7xl p-2 mx-auto flex justify-center flex-col">
  <h1 class="text-2xl font-bold mb-4 italic">Lista de Productos</h1>
  <ul class="list-disc pl-5 block w-full mx-auto">
    {{#each products}}
      <li class="mb-4 flex justify-between items-center">
        <ul>
         <li class="mb-2">{{this.title}} - {{this.description}} - ${{this.price}}</li>
        </ul>
        <button data-product-id="{{this._id}}" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 add-to-cart">
          Agregar al carrito
        </button>
      </li>
    {{/each}}
  </ul>

  <div class="flex justify-center mt-4">
    {{#if totalPages}}
      <span class="text-lg mr-4">
        Página {{currentPage}} de {{totalPages}}
      </span>
    {{else}}
      <span class="text-lg mr-4">Página 0 de 0</span>
    {{/if}}
  
    {{#if hasPrevPage}}
      <a href="?page={{prevPage}}" class="text-blue-500 hover:text-blue-700">Anterior</a>
    {{/if}}
  
    {{#if hasNextPage}}
      <a href="?page={{nextPage}}" class="ml-4 text-blue-500 hover:text-blue-700">Siguiente</a>
    {{/if}}
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const buttons = document.querySelectorAll('.add-to-cart');
    
    buttons.forEach(button => {
      button.addEventListener('click', function() {
        const productId = this.getAttribute('data-product-id');
        
        fetch(`/api/carts/${cartId}/product/${productId}`, {
          method: 'POST'
        })
        .then(response => response.json())
        .then(data => {
          alert("Producto añadido al carrito");
        })
        .catch(error => {
          console.error('Error adding product to cart: ', error);
        });
      });
    });
  });
</script>
