{{#*inline "layout"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link href="/styles.css" rel="stylesheet">
</head>
<body class="bg-gray-100 p-4">
  {{{body}}}
</body>
</html>
{{/inline}}

<h1 class="text-2xl font-bold mb-4">Lista de Productos</h1>
<ul id="product-list" class="list-disc pl-5">
  {{#each products}}
    <li class="mb-2">{{this.title}} - {{this.description}} - ${{this.price}}</li>
  {{/each}}
</ul>
